In [7]:
import pandas as pd
import numpy as np

In [8]:
data=pd.read_csv("./data/gemstone.csv")

In [9]:
df = data.drop(labels=["id"],axis=1)
df.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [10]:
X=df.drop(labels=["price"],axis=1)
X

        carat        cut color clarity  depth  table     x     y     z
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77
...       ...        ...   ...     ...    ...    ...   ...   ...   ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48

[193573 rows x 9 columns]

In [11]:
y = df[['price']]

In [12]:
y

        price
0       13619
1       13387
2        2772
3         666
4       14453
...       ...
193568   1130
193569   2874
193570   3036
193571    681
193572   2258

[193573 rows x 1 columns]

In [13]:
categorical_cols=X.select_dtypes(include='object').columns
categorical_cols

Index(['cut', 'color', 'clarity'], dtype='object')

In [14]:
numerical_cols=X.select_dtypes(exclude='object').columns
numerical_cols

Index(['carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [15]:
df.columns[df.dtypes=='object']

Index(['cut', 'color', 'clarity'], dtype='object')

In [16]:
df.columns[df.dtypes!='object']

Index(['carat', 'depth', 'table', 'x', 'y', 'z', 'price'], dtype='object')

In [17]:
X[categorical_cols]

              cut color clarity
0         Premium     F     VS2
1       Very Good     J     SI2
2           Ideal     G     VS1
3           Ideal     G     VS1
4         Premium     G     VS2
...           ...   ...     ...
193568      Ideal     D    VVS2
193569    Premium     G    VVS2
193570  Very Good     F     SI1
193571  Very Good     D     SI1
193572       Good     E     SI2

[193573 rows x 3 columns]

In [18]:
X[numerical_cols]

        carat  depth  table     x     y     z
0        1.52   62.2   58.0  7.27  7.33  4.55
1        2.03   62.0   58.0  8.06  8.12  5.05
2        0.70   61.2   57.0  5.69  5.73  3.50
3        0.32   61.6   56.0  4.38  4.41  2.71
4        1.70   62.6   59.0  7.65  7.61  4.77
...       ...    ...    ...   ...   ...   ...
193568   0.31   61.1   56.0  4.35  4.39  2.67
193569   0.70   60.3   58.0  5.75  5.77  3.47
193570   0.73   63.1   57.0  5.72  5.75  3.62
193571   0.34   62.9   55.0  4.45  4.49  2.81
193572   0.71   60.8   64.0  5.73  5.71  3.48

[193573 rows x 6 columns]

In [19]:
X.select_dtypes(include='object')

              cut color clarity
0         Premium     F     VS2
1       Very Good     J     SI2
2           Ideal     G     VS1
3           Ideal     G     VS1
4         Premium     G     VS2
...           ...   ...     ...
193568      Ideal     D    VVS2
193569    Premium     G    VVS2
193570  Very Good     F     SI1
193571  Very Good     D     SI1
193572       Good     E     SI2

[193573 rows x 3 columns]

In [20]:
X.select_dtypes(exclude='object')

        carat  depth  table     x     y     z
0        1.52   62.2   58.0  7.27  7.33  4.55
1        2.03   62.0   58.0  8.06  8.12  5.05
2        0.70   61.2   57.0  5.69  5.73  3.50
3        0.32   61.6   56.0  4.38  4.41  2.71
4        1.70   62.6   59.0  7.65  7.61  4.77
...       ...    ...    ...   ...   ...   ...
193568   0.31   61.1   56.0  4.35  4.39  2.67
193569   0.70   60.3   58.0  5.75  5.77  3.47
193570   0.73   63.1   57.0  5.72  5.75  3.62
193571   0.34   62.9   55.0  4.45  4.49  2.81
193572   0.71   60.8   64.0  5.73  5.71  3.48

[193573 rows x 6 columns]

In [21]:
# Define the custom ranking for each ordinal variable
cut_categories = ['Fair', 'Good', 'Very Good','Premium','Ideal']
color_categories = ['D', 'E', 'F', 'G', 'H', 'I', 'J']
clarity_categories = ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

In [22]:
from sklearn.impute import SimpleImputer ## HAndling Missing Values
from sklearn.preprocessing import StandardScaler # HAndling Feature Scaling
from sklearn.preprocessing import OrdinalEncoder # Ordinal Encoding
## pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [23]:
numerical_pipeline = Pipeline(
    steps = [
        ('imputer',SimpleImputer()),
        ('scaler',StandardScaler())
    ]
)

In [24]:
categorical_pipeline = Pipeline(
    steps = [
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('ordinal_encoder',OrdinalEncoder(categories=[cut_categories,color_categories,clarity_categories]))
    ]
)

In [25]:
preprocessor = ColumnTransformer(
    [
        ('numerical_pipeline',numerical_pipeline,numerical_cols),
        ('categorical_pipeline',categorical_pipeline,categorical_cols)
    ]
)

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.30,random_state=30)

In [27]:
preprocessor.fit_transform(X_train)

array([[-0.97543926, -0.84960654, -0.12153081, ...,  4.        ,
         5.        ,  5.        ],
       [ 0.2351953 ,  1.83363716, -0.12153081, ...,  1.        ,
         1.        ,  2.        ],
       [ 0.49461699,  0.81585507,  0.39980029, ...,  3.        ,
         3.        ,  4.        ],
       ...,
       [ 0.45138004,  1.55606023, -0.6428619 , ...,  1.        ,
         3.        ,  2.        ],
       [ 0.66756478, -1.77486298,  1.44246248, ...,  4.        ,
         3.        ,  4.        ],
       [ 0.25681377,  0.81585507, -0.12153081, ...,  4.        ,
         3.        ,  2.        ]])

In [28]:
preprocessor.fit_transform(X_test)

array([[-0.56047339, -0.94666761, -0.63268646, ...,  3.        ,
         1.        ,  3.        ],
       [-0.17167285,  0.99091296, -0.11194742, ...,  2.        ,
         4.        ,  2.        ],
       [-1.05727407,  0.25278703, -0.11194742, ...,  4.        ,
         4.        ,  7.        ],
       ...,
       [-0.19327288, -3.34557688,  1.45026972, ...,  3.        ,
         6.        ,  3.        ],
       [-0.81967374, -0.20854168, -0.11194742, ...,  4.        ,
         3.        ,  2.        ],
       [ 2.61473099, -0.76213612,  1.45026972, ...,  3.        ,
         6.        ,  3.        ]])

In [29]:
preprocessor.get_feature_names_out()

array(['numerical_pipeline__carat', 'numerical_pipeline__depth',
       'numerical_pipeline__table', 'numerical_pipeline__x',
       'numerical_pipeline__y', 'numerical_pipeline__z',
       'categorical_pipeline__cut', 'categorical_pipeline__color',
       'categorical_pipeline__clarity'], dtype=object)

In [31]:
X_train = pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test = pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

In [32]:
X_train.head()

,numerical_pipeline__carat,numerical_pipeline__depth,numerical_pipeline__table,numerical_pipeline__x,numerical_pipeline__y,numerical_pipeline__z,categorical_pipeline__cut,categorical_pipeline__color,categorical_pipeline__clarity
0,-0.975439,-0.849607,-0.121531,-1.042757,-1.080970,-1.123150,4.0,5.0,5.0
1,0.235195,1.833637,-0.121531,0.318447,0.279859,0.485354,1.0,1.0,2.0
2,0.494617,0.815855,0.399800,0.570855,0.606458,0.673737,3.0,3.0,4.0
3,-1.018676,0.260701,0.921131,-1.214034,-1.244270,-1.195605,3.0,3.0,3.0
4,-0.953821,-0.664555,-0.642862,-1.069801,-1.044681,-1.094168,4.0,6.0,5.0

In [33]:
X_test.head()

,numerical_pipeline__carat,numerical_pipeline__depth,numerical_pipeline__table,numerical_pipeline__x,numerical_pipeline__y,numerical_pipeline__z,categorical_pipeline__cut,categorical_pipeline__color,categorical_pipeline__clarity
0,-0.564688,-0.942132,-0.642862,-0.429765,-0.464061,-0.500036,3.0,1.0,3.0
1,-0.175556,1.000906,-0.121531,-0.042137,-0.028595,0.036132,2.0,4.0,2.0
2,-1.061913,0.260701,-0.121531,-1.304180,-1.298703,-1.268060,4.0,4.0,7.0
3,0.970223,-0.201927,1.963794,1.048629,0.996563,0.978049,3.0,3.0,3.0
4,-0.932202,-1.312235,0.399800,-1.006699,-0.990248,-1.065186,3.0,1.0,4.0

In [35]:
## Model Training

from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [36]:
## Train multiple models

models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet()
}

In [41]:
models.keys()

dict_keys(['LinearRegression', 'Lasso', 'Ridge', 'Elasticnet'])

In [50]:
models.values()

dict_values([LinearRegression(), Lasso(), Ridge(), ElasticNet()])

In [42]:
import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [46]:
trained_model_list=[]
model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    print(model)

    model.fit(X_train,y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    #this is a validation(test) score
    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('-'*35)

LinearRegression()
LinearRegression
Model Training Performance
RMSE: 1013.9047094344004
MAE: 674.0255115796823
R2 score 93.68908248567512
-----------------------------------
Lasso()
Lasso
Model Training Performance
RMSE: 1013.8723151049944
MAE: 675.2036880701613
R2 score 93.68948574778251
-----------------------------------
Ridge()
Ridge
Model Training Performance
RMSE: 1013.905899776106
MAE: 674.0565132295936
R2 score 93.68906766741328
-----------------------------------
ElasticNet()
Elasticnet
Model Training Performance
RMSE: 1513.914035022976
MAE: 1050.7468664314322
R2 score 85.92978759337907
-----------------------------------

In [47]:
trained_model_list

[]

In [48]:
model_list

['LinearRegression', 'Lasso', 'Ridge', 'Elasticnet']

In [49]:
r2_list

[0.9368908248567511,
 0.9368948574778251,
 0.9368906766741328,
 0.8592978759337908]